.header__nav.clear-fix
  %ul.row
    = render 'spaces/header-nav'
  .header__nav__logo
    = link_to root_path do
      = image_tag '//cdn.spacemarket.net/assets/service/logo-1ca6e86ca1d6dca0e0cffec09d775936.svg'

.my-page
  = render 'owner-top'
  .my-page__body
    .my-page__body__left.clear-fix
      .my-page__body__left__image
        = image_tag "#{@owner.image}"
      .my-page__body__left__name
        = @owner.name
      = link_to edit_owner_registration_path do
        %p.my-page__body__left__edit プロフィールを編集
    .my-page__body__right
      .my-page__body__right__title
        スペース一覧
      .my-page__body__right__text
        - if @spaces.last
          - @spaces.each do |space|
            = link_to space_path(space) do
              %p.my-page__body__right__text--name
                = space.name
        - else
          %p.my-page__body__right__text--none スペースはありません。
