.cont__space.cont__space--gray
  .cont__space__unit
    %h2.cont__space__unit__title スタッフのおすすめ
    %ul.row.clear-fix
      %li.cont__space__unit__main.cont__space__unit__main--4
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--4
              = image_tag 'https://cdn.spacemarket.net/uploads/features/25/square_8ddf67bfb6b473ca4e8aba1d368190e0.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--4'
            %h3.cont__space__unit__main__column__text 格安で借りられるレンタルスペース・会場まとめ
      %li.cont__space__unit__main.cont__space__unit__main--4
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--4
              = image_tag 'https://cdn.spacemarket.net/uploads/features/31/square_72590ea9d87dbe358f1ac159efb8699b.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--4'
            %h3.cont__space__unit__main__column__text キッチンが使えるレンタルスペースまとめ
      %li.cont__space__unit__main.cont__space__unit__main--4
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--4
              = image_tag 'https://cdn.spacemarket.net/uploads/features/66/square_b71a1d9a7a6c259ba2d5f871c7f21945.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--4'
            %h3.cont__space__unit__main__column__text 手ぶらでバーベキューのできるレンタルスペースまとめ
      %li.cont__space__unit__main.cont__space__unit__main--4
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--4
              = image_tag 'https://cdn.spacemarket.net/uploads/features/160/square_92100e8027a614bc171024d0eedaa436.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--4'
            %h3.cont__space__unit__main__column__text 人気の貸し会議室
    .cont__space__unit__more
      = link_to root_path, class: 'cont__space__unit__more--button' do
        %span.cont__space__unit__more__text スタッフのおすすめをもっと見る
        %i.fa.fa-angle-right.fa-lg

.cont__space
  .cont__space__unit
    %h2.cont__space__unit__title パーティー
    %ul.row.clear-fix
      %li.cont__space__unit__main.cont__space__unit__main--3
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--3
              = image_tag 'https://spacemarket-res.cloudinary.com/image/upload/q_auto,f_auto,c_fill,w_490,h_490/v1471237956/pkhrxgjuomtgo1akdsq3.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--3'
              %p.cont__space__unit__main__column__price ¥5,000/時間
            .cont__space__unit__main__column__body
              %h3.cont__space__unit__main__column__body__intro 【神楽坂・飯田橋】手ぶらでＯＫ！ビストロ風の空間とプロ仕様のキッチン　基本調味料、ラップ、リード等はご用意しております！
              %ul.clear-fix
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-user
                  %span.cont__space__unit__main__column__data__body__people 〜24人
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-map-marker
                  %span.cont__space__unit__main__column__body__sdata__access 東京都千代田区
      %li.cont__space__unit__main.cont__space__unit__main--3
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--3
              = image_tag 'https://spacemarket-res.cloudinary.com/image/upload/q_auto,f_auto,c_fill,w_490,h_490/v1471233933/gsutzx2fukdzlnrh7iuh.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--3'
              %p.cont__space__unit__main__column__price ¥1,000~ ¥4,000/時間
            .cont__space__unit__main__column__body
              %h3.cont__space__unit__main__column__body__intro 【駒沢大学】地下ワンフロアーなので周りを気にせず楽しめます!!※下北沢店OPENしました!!
              %ul.clear-fix
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-user
                  %span.cont__space__unit__main__column__data__body__people 〜18人
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-map-marker
                  %span.cont__space__unit__main__column__body__sdata__access 東京都世田谷区
      %li.cont__space__unit__main.cont__space__unit__main--3
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--3
              = image_tag 'https://spacemarket-res.cloudinary.com/image/upload/q_auto,f_auto,c_fill,w_490,h_490/v1492153362/ahl7wzn0penkjdeb6zb0.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--3'
              %p.cont__space__unit__main__column__price ¥3,800~ ¥8,800/時間
            .cont__space__unit__main__column__body
              %h3.cont__space__unit__main__column__body__intro 【秋葉原徒歩7分】騒げる一軒家まるまる借切！キッチン有り/イベント/パーティー/女子会/ロケ撮影/少人数可/浅草橋駅 東京駅近く
              %ul.clear-fix
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-user
                  %span.cont__space__unit__main__column__data__body__people 〜35人
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-map-marker
                  %span.cont__space__unit__main__column__body__sdata__access 東京都千代田区
    .cont__space__unit__more
      = link_to root_path, class: 'cont__space__unit__more--button' do
        %span.cont__space__unit__more__text パーティーで利用できるスペースをもっと見る
        %i.fa.fa-angle-right.fa-lg

.cont__space.cont__space--gray
  .cont__space__unit
    %h2.cont__space__unit__title 会議
    %ul.row.clear-fix
      %li.cont__space__unit__main.cont__space__unit__main--3
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--3
              = image_tag 'https://spacemarket-res.cloudinary.com/image/upload/q_auto,f_auto,c_fill,w_490,h_490/v1494589676/ws9v21djb7opv4lyhhn1.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--3'
              %p.cont__space__unit__main__column__price ¥400~ ¥1,600/時間
            .cont__space__unit__main__column__body
              %h3.cont__space__unit__main__column__body__intro 【マリブ】渋谷駅徒歩5分。WiFi・巨大モニター・ホワイトボード・wiiを完備した遊び心ある西海岸風の会議室。
              %ul.clear-fix
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-user
                  %span.cont__space__unit__main__column__data__body__people 〜12人
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-map-marker
                  %span.cont__space__unit__main__column__body__sdata__access 東京都渋谷区
      %li.cont__space__unit__main.cont__space__unit__main--3
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--3
              = image_tag 'https://spacemarket-res.cloudinary.com/image/upload/q_auto,f_auto,c_fill,w_490,h_490/v1495110769/slmps5uam0oz3gvolzxd.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--3'
              %p.cont__space__unit__main__column__price ¥400~ ¥1,600/時間
            .cont__space__unit__main__column__body
              %h3.cont__space__unit__main__column__body__intro 【HIDAMARI】渋谷 5分 Wi-Fi 電源 プロジェクター 無料の明るい貸し会議室
              %ul.clear-fix
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-user
                  %span.cont__space__unit__main__column__data__body__people 〜16人
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-map-marker
                  %span.cont__space__unit__main__column__body__sdata__access 東京都渋谷区
      %li.cont__space__unit__main.cont__space__unit__main--3
        = link_to root_path do
          .cont__space__unit__main--button
            .cont__space__unit__main__column.cont__space__unit__main__column--3
              = image_tag 'https://spacemarket-res.cloudinary.com/image/upload/q_auto,f_auto,c_fill,w_490,h_490/v1495110869/q1aa0naadgs34cmyvcer.jpg', class: 'cont__space__unit__main__column__image cont__space__unit__main__column__image--3'
              %p.cont__space__unit__main__column__price ¥400~ ¥1,600/時間
            .cont__space__unit__main__column__body
              %h3.cont__space__unit__main__column__body__intro 【モルディブ】渋谷センター街 Wi-Fi、電源完備 レンタルスペース 貸し会議室
              %ul.clear-fix
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-user
                  %span.cont__space__unit__main__column__data__body__people 〜12人
                %li.cont__space__unit__main__column__body__data
                  %i.fa.fa-map-marker
                  %span.cont__space__unit__main__column__body__sdata__access 東京都渋谷区
    .cont__space__unit__more
      = link_to root_path, class: 'cont__space__unit__more--button' do
        %span.cont__space__unit__more__text 会議で利用できるスペースをもっと見る
        %i.fa.fa-angle-right.fa-lg
