.cont__type.clear-fix
  %ul.row
    %li.cont__type__list.cont__type__list--up
      = link_to '#party', class: 'cont__type__list__button' do
        = image_tag '//cdn.spacemarket.net/assets/service/top/party_blue-cb3572688faf3bc72aa4dd199af8ccc0.svg', class: 'cont__type__list__button__logo'
        %span.cont__type__list__button__name
          パーティー
          %span.cont__type__list__button__number
            = "#{@spaces.party.length}件"
        %i.fa.fa-angle-right.fa-lg
    %li.cont__type__list.cont__type__list--up
      = link_to '#meeting', class: 'cont__type__list__button' do
        = image_tag '//cdn.spacemarket.net/assets/service/top/class_blue-00162a2a729689f5de5738a85dd80ab6.svg', class: 'cont__type__list__button__logo'
        %span.cont__type__list__button__name
          会議
          %span.cont__type__list__button__number
            = "#{@spaces.meeting.length}件"
        %i.fa.fa-angle-right.fa-lg
    %li.cont__type__list.cont__type__list--up
      = link_to '#photo', class: 'cont__type__list__button' do
        = image_tag '//cdn.spacemarket.net/assets/service/top/photo_shoot_blue-d21ffcb8822c210acb072f45652ea485.svg', class: 'cont__type__list__button__logo'
        %span.cont__type__list__button__name
          写真撮影
          %span.cont__type__list__button__number
            = "#{@spaces.photo.length}件"
        %i.fa.fa-angle-right.fa-lg
    %li.cont__type__list.cont__type__list--down
      = link_to '#location', class: 'cont__type__list__button' do
        = image_tag '//cdn.spacemarket.net/assets/service/top/film_shoot_blue-ff1cb442bb7be4842fff66050387e5f6.svg', class: 'cont__type__list__button__logo'
        %span.cont__type__list__button__name
          ロケ撮影
          %span.cont__type__list__button__number
            = "#{@spaces.location.length}件"
        %i.fa.fa-angle-right.fa-lg
    %li.cont__type__list.cont__type__list--down
      = link_to '#event', class: 'cont__type__list__button' do
        = image_tag '//cdn.spacemarket.net/assets/service/top/event_blue-1e06c16bfec922e6f4ede5e6e318fa83.svg', class: 'cont__type__list__button__logo'
        %span.cont__type__list__button__name
          イベント
          %span.cont__type__list__button__number
            = "#{@spaces.event.length}件"
        %i.fa.fa-angle-right.fa-lg
    %li.cont__type__list.cont__type__list--down
      = link_to '#stay', class: 'cont__type__list__button' do
        = image_tag '//cdn.spacemarket.net/assets/service/top/stay_blue-a1dea4fb5baa0aea1deee671c470cb21.svg', class: 'cont__type__list__button__logo'
        %span.cont__type__list__button__name
          宿泊
          %span.cont__type__list__button__number
            = "#{@spaces.stay.length}件"
        %i.fa.fa-angle-right.fa-lg
    %li.cont__type__list.cont__type__list--down
      = link_to '#other', class: 'cont__type__list__button' do
        = image_tag '//cdn.spacemarket.net/assets/service/top/other_blue-b01238da3b714563414031d17516c21b.svg', class: 'cont__type__list__button__logo'
        %span.cont__type__list__button__name
          その他
          %span.cont__type__list__button__number
            = "#{@spaces.other.length}件"
        %i.fa.fa-angle-right.fa-lg
