.cont__space.cont__space--gray
  .cont__space__unit
    %h2.cont__space__unit__title#party パーティー
    - @spaces.party.each do |space|
      = render space
    .cont__space__unit__more
      - if @spaces.party.last
        = link_to root_path, class: 'cont__space__unit__more--button' do
          %span.cont__space__unit__more__text パーティーで利用できるスペースをもっと見る
          %i.fa.fa-angle-right.fa-lg
      - else
        %span.cont__space__unit__more__text.cont__space__unit__more__text--none 利用できるスペースはありません

.cont__space
  .cont__space__unit
    %h2.cont__space__unit__title#meeting 会議
    - @spaces.meeting.each do |space|
      = render space
    .cont__space__unit__more
      - if @spaces.meeting.last
        = link_to root_path, class: 'cont__space__unit__more--button' do
          %span.cont__space__unit__more__text パーティーで利用できるスペースをもっと見る
          %i.fa.fa-angle-right.fa-lg
      - else
        %span.cont__space__unit__more__text.cont__space__unit__more__text--none 利用できるスペースはありません

.cont__space.cont__space--gray
  .cont__space__unit
    %h2.cont__space__unit__title#photo 写真撮影
    - @spaces.photo.each do |space|
      = render space
    .cont__space__unit__more
      - if @spaces.photo.last
        = link_to root_path, class: 'cont__space__unit__more--button' do
          %span.cont__space__unit__more__text パーティーで利用できるスペースをもっと見る
          %i.fa.fa-angle-right.fa-lg
      - else
        %span.cont__space__unit__more__text.cont__space__unit__more__text--none 利用できるスペースはありません

.cont__space
  .cont__space__unit
    %h2.cont__space__unit__title#location ロケ撮影
    - @spaces.location.each do |space|
      = render space
    .cont__space__unit__more
      - if @spaces.location.last
        = link_to root_path, class: 'cont__space__unit__more--button' do
          %span.cont__space__unit__more__text パーティーで利用できるスペースをもっと見る
          %i.fa.fa-angle-right.fa-lg
      - else
        %span.cont__space__unit__more__text.cont__space__unit__more__text--none 利用できるスペースはありません

.cont__space.cont__space--gray
  .cont__space__unit
    %h2.cont__space__unit__title#event イベント
    - @spaces.event.each do |space|
      = render space
    .cont__space__unit__more
      - if @spaces.event.last
        = link_to root_path, class: 'cont__space__unit__more--button' do
          %span.cont__space__unit__more__text パーティーで利用できるスペースをもっと見る
          %i.fa.fa-angle-right.fa-lg
      - else
        %span.cont__space__unit__more__text.cont__space__unit__more__text--none 利用できるスペースはありません

.cont__space
  .cont__space__unit
    %h2.cont__space__unit__title#stay 宿泊
    - @spaces.stay.each do |space|
      = render space
    .cont__space__unit__more
      - if @spaces.stay.last
        = link_to root_path, class: 'cont__space__unit__more--button' do
          %span.cont__space__unit__more__text パーティーで利用できるスペースをもっと見る
          %i.fa.fa-angle-right.fa-lg
      - else
        %span.cont__space__unit__more__text.cont__space__unit__more__text--none 利用できるスペースはありません

.cont__space.cont__space--gray
  .cont__space__unit
    %h2.cont__space__unit__title#other その他
    - @spaces.other.each do |space|
      = render space
    .cont__space__unit__more
      - if @spaces.other.last
        = link_to root_path, class: 'cont__space__unit__more--button' do
          %span.cont__space__unit__more__text パーティーで利用できるスペースをもっと見る
          %i.fa.fa-angle-right.fa-lg
      - else
        %span.cont__space__unit__more__text.cont__space__unit__more__text--none 利用できるスペースはありません
