.header
  =render 'header-top'
  .header__nav.clear-fix
    %ul.row
      =render 'spaces/header-nav'
    .header__nav__logo
      = link_to root_path do
        = image_tag '//cdn.spacemarket.net/assets/service/logo-1ca6e86ca1d6dca0e0cffec09d775936.svg'

.space
  %P.space__intro
    - if @space.body != ''
      = @space.body
    - else
      = @space.name
  .space__image
    = image_tag "#{@space.image}", class: 'space__image__this', alt: 'main-image'
  .space__info
    .space__info__nav
      .space__info__nav__main
        %ul.clear-fix
          %li.space__info__nav__main__list
            = link_to '#title-buttom' do
              概要
          %li.space__info__nav__main__list
            = link_to '#price-buttom' do
              価格
          %li.space__info__nav__main__list
            = link_to '#access-buttom' do
              アクセス
          %li.space__info__nav__main__list
            = link_to '#event-buttom' do
              イベント
    .space__info__title
      .space__info__title__wrapper
        .space__info__title__wrapper__main
          %h1.space__info__title__wrapper__main__name#title-buttom
            - if @space.body != ''
              = @space.body
            - else
              = @space.name
          %ul.clear-fix
            %li.space__info__title__wrapper__main__list
              %i.fa.fa-building
              %span.space__info__title__wrapper__main__list__text
                = @space.name
            %li.space__info__title__wrapper__main__list
              %i.fa.fa-user
              %span.space__info__title__wrapper__main__list__text
                = "〜#{@space.number}人"
            %li.space__info__title__wrapper__main__list
              %i.fa.fa-map-marker
              %span.space__info__title__wrapper__main__list__text
                = "#{@space.prefecture}#{@space.city}"
            %li.space__info__title__wrapper__main__list
              %i.fa.fa-folder
              %span.space__info__title__wrapper__main__list__text
                = @space.purpose
    .space__info__detail
      .space__info__detail__wrapper
        .space__info__detail__wrapper__body.clear-fix
          .space__info__detail__wrapper__body__about
            %h2 会場について
          .space__info__detail__wrapper__body__text
            %p
              = simple_format(@space.text)
        .space__info__detail__wrapper__body.clear-fix
          .space__info__detail__wrapper__body__about
            %h2 収容人数
          .space__info__detail__wrapper__body__text
            %p
              = "〜#{@space.number}人"
        .space__info__detail__wrapper__body.clear-fix
          .space__info__detail__wrapper__body__about
            %h2 営業時間
          .space__info__detail__wrapper__body__text
            %p
              = "#{@space.start}:00〜#{@space.finish}:00"
        .space__info__detail__wrapper__body.clear-fix
          .space__info__detail__wrapper__body__about#price-buttom
            %h2 価格
          .space__info__detail__wrapper__body__text
            %p.space__info__detail__wrapper__body__text--bold
              = "¥#{@space.price}/時間"
        .space__info__detail__wrapper__side
          .space__info__detail__wrapper__side__request
            %span.space__info__detail__wrapper__side__request__price--bold
              = "¥#{@space.price}"
            %span.space__info__detail__wrapper__side__request__price /時間
            - if user_signed_in?
              = link_to new_space_reservation_path(@space) do
                %p.space__info__detail__wrapper__side__request__button 予約リクエスト
            - else
              = link_to new_user_session_path do
                %p.space__info__detail__wrapper__side__request__button 予約リクエスト
          .space__info__detail__wrapper__side__owner
            = image_tag "#{@space.owner.image}", class: 'space__info__detail__wrapper__side__owner__image', alt: 'owner-image'
            %p.space__info__detail__wrapper__side__owner__intro このスペースの管理者
            %p.space__info__detail__wrapper__side__owner__name
              = @space.owner.name
    .space__info__access
      .space__info__access__wrapper
        .space__info__access__wrapper__body.clear-fix#access-buttom
          %p.space__info__access__wrapper__body__name 住所
          %p.space__info__access__wrapper__body__text
            = "#{@space.prefecture}#{@space.city}#{@space.town}#{@space.building}"
        .space__info__access__wrapper__body.clear-fix
          %p.space__info__access__wrapper__body__name アクセス
          %p.space__info__access__wrapper__body__text
            = @space.access

    .space__info__detail#event-buttom
      .space__info__detail__wrapper
        .space__info__detail__wrapper__event
          .space__info__detail__wrapper__event--image
          %h2.space__info__detail__wrapper__event--text 開催予定のイベント
          - @events.each do |event|
            %p.space__info__detail__wrapper__event--list
              = link_to '' do
                = event.name
