.my-page__top
  %ul.my-page__top__left
    %li.my-page__top__left__list.my-page__top__left__list--image
      = image_tag "#{@user.image}", class: 'my-page__body__left__image--this'
    %li.my-page__top__left__list
      = @user.name
  %ul.my-page__top__right.clear-fix
    %li
      = link_to edit_user_registration_path do
        %p.my-page__top__right__list 設定
    %li
      = link_to user_path(@user) do
        %p.my-page__top__right__list マイページ
