.header__nav.clear-fix
  %ul.row
    = render 'spaces/header-nav'
  .header__nav__logo
    = link_to root_path do
      = image_tag '//cdn.spacemarket.net/assets/service/logo-1ca6e86ca1d6dca0e0cffec09d775936.svg'

.user-page
  = render 'user-top'
  .user-page__body
    .user-page__body__left.clear-fix
      .user-page__body__left__image
        = image_tag "#{@user.image}"
      .user-page__body__left__name
        = @user.name
      = link_to edit_user_registration_path do
        %p.user-page__body__left__edit プロフィールを編集
    .user-page__body__right
      .user-page__body__right__title
        予約一覧
      .user-page__body__right__text
        予約はありません。
