.header
  =render 'spaces/header-top'
  .header__nav.clear-fix
    %ul.row
      =render 'spaces/header-nav'
    .header__nav__logo
      = link_to root_path do
        = image_tag '//cdn.spacemarket.net/assets/service/logo-1ca6e86ca1d6dca0e0cffec09d775936.svg'

.container
  .reservation.clear-fix
    .reservation__left
      .reservation__left__info.clear-fix
        %p.reservation__left__info__title 選択中のスペース
        = link_to space_path(@space), class: 'reservation__left__info__body', data: {start: "#{@space.start}", finish: "#{@space.finish}"} do
          = image_tag "#{@space.image}", class: 'reservation__left__info__body__image'
          %p.reservation__left__info__body__text
            - if @space.body != ''
              = @space.body
            - else
              = @space.name
    .reservation__right
      %h2.reservation__right__title 空き状況の確認／予約リクエスト
      %h3.reservation__right__form__title 料金
      .reservation__right__price
        %span.reservation__right__price--yen
          = "¥#{@space.price}"
        %span.reservation__right__price--time /時間
      = form_for [@space, @reservation] do |f|
        .reservation__right__form
          %h3.reservation__right__form__title 利用期間
          .reservation__right__form__date
            %table
              - today = Date.today
              %caption.reservation__right__form__date__month
                = today.strftime('%Y年%m月')
              %tr.reservation__right__form__date__week
                %th.reservation__right__form__date__week__name 日
                %th.reservation__right__form__date__week__name 月
                %th.reservation__right__form__date__week__name 火
                %th.reservation__right__form__date__week__name 水
                %th.reservation__right__form__date__week__name 木
                %th.reservation__right__form__date__week__name 金
                %th.reservation__right__form__date__week__name 土
              - month = today.strftime('%m')
              - d = today.at_beginning_of_month.at_beginning_of_week(:sunday)
              - 1.upto(5).each do |i|
                %tr.reservation__right__form__date__day
                  - (d..d.end_of_week(:sunday)).each do|c|
                    - if c.strftime('%d') > today.strftime('%d') && c.strftime('%m') == month
                      %td.reservation__right__form__date__day__name
                        = link_to '#time-list', class: 'time-list-button' do
                          %p.reservation__right__form__date__day__name--day
                            = c.strftime('%d')
                          %p.reservation__right__form__date__day__name--price
                            = "¥#{@space.price}"
                    - elsif c.strftime('%m') == month
                      %td.reservation__right__form__date__day__name.reservation__right__form__date__day__name--gray
                        %p.reservation__right__form__date__day__name--day.reservation__right__form__date__day__name--day--gray
                          = c.strftime('%d')
                        %p.reservation__right__form__date__day__name--price.reservation__right__form__date__day__name--price--gray
                          不可
                    - else
                      %td.reservation__right__form__date__day__name
                - d = d + 1.week
            %ul.reservation__right__form__date__time.hidden#time-list
              - for i in 0..23 do
                = link_to '#time-list', class: "time-select-button time-#{i}", data: {time: "#{i}"} do
                  %li.reservation__right__form__date__time__list.clear-fix
                    %p.reservation__right__form__date__time__list--circle
                      %i.fa.fa-circle-o
                    .reservation__right__form__date__time__list__right
                      %p.reservation__right__form__date__time__list__right--time
                        = "#{i}:00 - #{i+1}:00"
                      %p.reservation__right__form__date__time__list__right--price
                        = "¥#{@space.price}"

        /   %h3.reservation__right__form__title 日にち
        /   .reservation__right__form__date
        /     = f.label :year, class: 'reservation__right__form--label' do
        /       = select_tag :year, options_for_select([["2017", "2017"]]), class: 'reservation__right__form--select'
        /       %i.fa.fa-sort-desc
        /     %span.reservation__right__form--text 年
        /   .reservation__right__form__date
        /     = f.label :month, class: 'reservation__right__form--label' do
        /       = select_tag :month, options_for_select([["1", "1"],["2", "2"],["3", "3"],["4", "4"], ["5", "5"],["6", "6"], ["7", "7"],["8", "8"],["9", "9"],["10", "10"], ["11", "11"],["12", "12"]], {selected: Time.now.month}), class: 'reservation__right__form--select'
        /       %i.fa.fa-sort-desc
        /     %span.reservation__right__form--text 月
        /   .reservation__right__form__date
        /     = f.label :day, class: 'reservation__right__form--label' do
        /       = select_tag :day, options_for_select([["1", "1"],["2", "2"],["3", "3"],["4", "4"],["5", "5"],["6", "6"],["7", "7"],["8", "8"],["9", "9"],["10", "10"],["11", "11"],["12", "12"],["13", "13"],["14", "14"],["15", "15"],["16", "16"],["17", "17"],["18", "18"],["19", "19"],["20", "20"],["21", "21"],["22", "22"],["23", "23"],["24", "24"],["25", "25"],["26", "26"],["27", "27"],["28", "28"],["29", "29"],["30", "30"],["31", "31"]], {selected: Time.now.day}), class: 'reservation__right__form--select'
        /       %i.fa.fa-sort-desc
        /     %span.reservation__right__form--text 日
        / .reservation__right__form.clear-fix
        /   %h3.reservation__right__form__title 時間
        /   .reservation__right__form__time
        /     = f.label :start, class: 'reservation__right__form--label' do
        /       = select_tag :start, options_for_select([["0", "0"],["1", "1"],["2", "2"],["3", "3"],["4", "4"], ["5", "5"],["6", "6"], ["7", "7"],["8", "8"],["9", "9"],["10", "10"], ["11", "11"],["12", "12"],["13", "13"],["14", "14"], ["15", "15"],["16", "16"], ["17", "17"],["18", "18"],["19", "19"],["20", "20"],["21", "21"],["22", "22"],["23", "23"]], {selected: Time.now.hour}), class: 'reservation__right__form--select'
        /       %i.fa.fa-sort-desc
        /     %span.reservation__right__form--text 時〜
        /   .reservation__right__form__time
        /     = f.label :finish, class: 'reservation__right__form--label' do
        /       = select_tag :finish, options_for_select([["1", "1"],["2", "2"],["3", "3"],["4", "4"], ["5", "5"],["6", "6"], ["7", "7"],["8", "8"],["9", "9"],["10", "10"], ["11", "11"],["12", "12"],["13", "13"],["14", "14"], ["15", "15"],["16", "16"], ["17", "17"],["18", "18"],["19", "19"],["20", "20"],["21", "21"],["22", "22"],["23", "23"],["24", "24"]], {selected: Time.now.hour + 1}), class: 'reservation__right__form--select'
        /       %i.fa.fa-sort-desc
        /     %span.reservation__right__form--text 時
        .reservation__right__form
          .reservation__right__form__submit
            = f.submit '予約リクエストを送信', class: 'reservation__right__form__submit__button'
