= javascript_include_tag "reservation"
.header
  =render 'spaces/header-top'
  .header__nav.clear-fix
    %ul.row
      =render 'spaces/header-nav'
    .header__nav__logo
      = link_to root_path do
        = image_tag '//cdn.spacemarket.net/assets/service/logo-1ca6e86ca1d6dca0e0cffec09d775936.svg'

.container
  .reservation.clear-fix
    .reservation__left
      .reservation__left__info.clear-fix
        %p.reservation__left__info__title 選択中のスペース
        = link_to space_path(@space), class: 'reservation__left__info__body', data: {start: "#{@space.start}", finish: "#{@space.finish}", spaceid: "#{@space.id}", price: "#{@space.price}"} do
          = image_tag "#{@space.image}", class: 'reservation__left__info__body__image'
          %p.reservation__left__info__body__text
            - if @space.body != ''
              = @space.body
            - else
              = @space.name
    .reservation__right
      %h2.reservation__right__title 空き状況の確認／予約リクエスト
      %h3.reservation__right__form__title 料金
      .reservation__right__price
        %span.reservation__right__price--yen
          = "¥#{@space.price}"
        %span.reservation__right__price--time /時間
      = form_for [@space, @reservation], html: { class: 'js-form' } do |f|
        .reservation__right__form
          %h3.reservation__right__form__title 利用期間
          .reservation__right__form__date
            %table
              - today = Date.today
              %caption.reservation__right__form__date__month
                = today.strftime('%Y年%m月')
              %tr.reservation__right__form__date__week
                %th.reservation__right__form__date__week__name 日
                %th.reservation__right__form__date__week__name 月
                %th.reservation__right__form__date__week__name 火
                %th.reservation__right__form__date__week__name 水
                %th.reservation__right__form__date__week__name 木
                %th.reservation__right__form__date__week__name 金
                %th.reservation__right__form__date__week__name 土
              - month = today.strftime('%m')
              - d = today.at_beginning_of_month.at_beginning_of_week(:sunday)
              - 1.upto(5).each do |i|
                %tr.reservation__right__form__date__day
                  - (d..d.end_of_week(:sunday)).each do|c|
                    - if c.strftime('%d') > today.strftime('%d') && c.strftime('%m') == month
                      %td.reservation__right__form__date__day__name
                        = link_to '#time-list', class: 'time-list-button', data: {year: "#{c.strftime('%y')}", month: "#{c.strftime('%m')}", day: "#{c.strftime('%d')}"} do
                          %p.reservation__right__form__date__day__name--day
                            = c.strftime('%d')
                          %p.reservation__right__form__date__day__name--price
                            = "¥#{@space.price}"
                    - elsif c.strftime('%m') == month
                      %td.reservation__right__form__date__day__name.reservation__right__form__date__day__name--gray
                        %p.reservation__right__form__date__day__name--day.reservation__right__form__date__day__name--day--gray
                          = c.strftime('%d')
                        %p.reservation__right__form__date__day__name--price.reservation__right__form__date__day__name--price--gray
                          不可
                    - else
                      %td.reservation__right__form__date__day__name
                - d = d + 1.week
            %ul.reservation__right__form__date__time.hidden#time-list
              - for i in 0..23 do
                = link_to '#time-list', class: "time-select-button time-#{i}", data: {time: "#{i}"} do
                  %li.reservation__right__form__date__time__list.clear-fix
                    %p.reservation__right__form__date__time__list--circle
                      %i.fa.fa-circle-o
                    .reservation__right__form__date__time__list__right
                      %p.reservation__right__form__date__time__list__right--time
                        = "#{i}:00 - #{i+1}:00"
                      %p.reservation__right__form__date__time__list__right--price
                        = "¥#{@space.price}"
        .reservation__right__form
          .reservation__right__form__submit
            = f.submit '予約リクエストを送信', class: 'reservation__right__form__submit__button'
      .reservation__right__conf.hidden
        %h2.reservation__right__title 予約内容確認
        .reservation__right__confirm
          .reservation__right__confirm__body.clear-fix
            %p.reservation__right__confirm__body__title 利用期間
            %p.reservation__right__confirm__body__text.reservation__right__confirm__body__text--times
          .reservation__right__confirm__body.clear-fix
            %p.reservation__right__confirm__body__title 料金
            .reservation__right__confirm__body__text
              %p.reservation__right__confirm__body__text--price
              %p.reservation__right__confirm__body__text--sub
          .reservation__right__confirm__button.clear-fix
            = link_to root_path do
              %p.reservation__right__confirm__button__text.reservation__right__confirm__button__text--top トップページへ
            = link_to user_path(current_user) do
              %p.reservation__right__confirm__button__text.reservation__right__confirm__button__text--user マイページへ
